@media (min-width: 1400px) and (max-width: 5000px) {
    .container{
        max-width: 90% !important;
    }
    #header_top {
        padding: 22px 0px;
        height: 84px;
    }
    #banar_area{
        height: 780px;
    }
    #expertise .expertise_left p {
        width: 100%;
    }
    #banar_area .banar_area_content h3 {
        font-size: 80px;
        font-weight: 300;
        line-height: 80px;
    }
    #banar_area .banar_area_content a {
        padding: 0px;
        font-size: 18px;
        height: 64px;
        width: 242px;
        text-align: center;
        line-height: 64px;
        font-weight: 500;
    }
    #banar_bottom .banar_bottom_item {
        padding: 80px 38px;
        min-height: 441px;
    }
    #banar_bottom .banar_bottom_item h3 {
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 36px;
    }
    #expertise {
        padding-bottom: 87px;
    }
    #expertise #expertise_image {
        height: 78%;
    }
    #tab_area .tab_left_button .nav-tabs .nav-item {
        padding: 23px 16px;
        padding-top: 9px;
        padding-bottom: 23px;
        margin-bottom: -5px;
        width: 390px;
    }
    #tab_area .tab_main_content .tab_main_content_content .tab_main_content_top .tab_main_content_top_info h3 {
        font-size: 32.5px;
    }
    #custom_solution .custom_solution_title h3 {
        font-size: 45px;
    }
    #custom_solution .custom_solution_item span {
        height: 90px;
        width: 90px;
        line-height: 86px;
    }
    #custom_solution .custom_solution_item p {
        font-size: 14px;
        margin-top: 14px;
        line-height: 25px;
    }
    #custom_solution .custom_solution_item a.right_sp_button {
        padding: 0px;
        font-size: 18px;
        width: 248px;
        height: 64px;
        line-height: 64px;
    }
    #blog .blog_top_title h3 {
        font-size: 45px;
    }
    #blog .blog_top_title p {
        font-size: 24px;
    }
    #blog .blog_main_slider .blog_item .blog_item_content {
        padding: 42px 33px;
        padding-bottom: 45px;
    }
    #blog .blog_main_slider .blog_item .blog_item_content h4 {
        font-size: 16px;
    }
    #blog .blog_main_slider .blog_item .blog_item_content a.title_lik {
        line-height: 26px;
    }
    #cleint_area .cleint_area_top h3 {
        font-size: 45px;;
    }
    #cleint_area .cleint_area_top p {
        font-size: 26px;
        width: 69%;
        margin: 0 auto;
        margin-top: 14px;
        line-height: 40px;
    }
    #testmonial .testmonial_top_left h3 {
        font-size: 45px;
        line-height: 54px;
    }
    #testmonial .testmonial_slider_main .testmonial_slider_active .testmonial_slider_item {
        padding: 90px 65px;
    }
    #testmonial .testmonial_slider_main .testmonial_slider_active .testmonial_slider_item span img {
        margin-right: 24px;
        height: auto;
    }
    #testmonial .testmonial_slider_main .testmonial_slider_active .testmonial_slider_item h4 {
        margin-top: 30px;
    }
    #testmonial .testmonial_slider_main .testmonial_slider_active {
        left: 100px;
    }
    #quote_1 .quote_1_content a {
        margin-top: 36px;
        padding: 0px;
        font-size: 18px;
        height: 64px;
        width: 248px;
        line-height: 64px;
    }
    #quote_1 {
        padding: 150px 0px;
    }
    
    #tab_area .tab_left_button .nav-tabs .nav-item span {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
        font-size: 20px;
    }
    #tab_area {
        padding: 97px 0px;
    }
    #blog .blog_main_slider .blog_item .blog_item_content a {
        margin-top: 28px;
    }
    #testmonial {
        padding: 220px 0px 121px 0px;
    }
    #testmonial .testmonial_top_left span {
        height: 140px;
        width: 140px;
        line-height: 140px;
        top: -83px;
        left: -105px;
    }
    #testmonial .testmonial_top_left span img {
        height: 32px;
    }
    #expertise .expertise_right .expertise_right_item p {
        width: 90%;
    }

    /*-- service page --*/
    #service_page_service .service_page_service_container .service_page_service_item p {
        width: 78%;
    }

    /*-- contact page --*/
    #contact_page_contcat .contact_page_form {
        width: 81%;
        margin: 0 auto;
    }

    /*-- blog details --*/
    .blog_details_content {
        width: 85%;
        margin: 0 auto;
    }

    /*-- case study page --*/
    .case_study_page_main_item_left {
        width: 530px;
    }
    #case_study_page .case_study_page_main .case_study_page_main_item .case_study_page_main_item_left h4 span {
        margin-right: 17px;
    }
    #case_study_page .case_study_page_main .case_study_page_main_item .case_study_page_main_item_right p {
        font-size: 17px;
    }
    #case_study_page .case_study_page_main .case_study_page_main_item .case_study_page_main_item_left h4 {
        font-size: 17px;
    }
    #case_study_service .case_study_service_item p {
        width: 85%;
    }
    #solution_impect .solution_impect_left ul li {
        width: 80%;
        font-size: 17px;
        line-height: 26px;
    }
    #solution_impect .solution_impect_right .solution_impect_right_item img {
        width: 65% !important;
        margin: 0 auto;
    }
    #info_services .info_services_main .info_services_main_item p {
        width: 60%;
        margin: 0 auto;
        margin-top: 15px;
    }
    #information_key_feater .information_key_feater_main .information_key_feater_item {
        min-height: 226px;
    }
    #information_key_feater .information_key_feater_main .information_key_feater_item p {
        margin-top: 15px;
        font-weight: 400;
        font-size: 14px;
        color: #666666;
        width: 98%;
        margin: 0 auto;
        margin-top: 15px;
    }

    #hosting_choice .hosting_choice_main .hosting_choice_main_item p {
        width: 43%;
    }
    .case_study_page_main_item_right {
        padding-left: 31px;
    }
    .case_study_page_main_top_title_right{
        padding-left: 31px;
    }
    #information_counter .information_counter_top h3 {
        width: 68%;
    }

    #about_story .about_story_content p {
        font-size: 18px;
    }
}


/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .container{
        max-width: 90% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .container{
        max-width: 90% !important;
    }
}


/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

















@media (max-width: 767px) {
body{
    overflow-x: hidden !important;
}
.mpl0{
    padding-left: 0px !important;
}
.mpr0{
    padding-right: 0px !important;
}
.show_mobile{
    display: block !important;
}
.hide_mobile{
    display: none !important;
}
.container{
    width: 97% !important;
}
#banar_area {
    background-image: url(../img/mobile/home/banar.jpg);
    padding: 150px 0px 250px 0px;
    display: inherit !important;
    height: 110vh;
}
#banar_area .banar_area_content h3 {
    font-size: 45px;
    line-height: 54px;
}
#banar_area .banar_area_content a {
    margin-top: 46px;
    font-size: 15px;
    width: 211px;
    height: 54px;
    line-height: 54px;
}
#banar_bottom .banar_bottom_item {
    margin-bottom: 36px;
}
#expertise {
    padding-top: 0px;
}
#expertise .expertise_left {
    text-align: center;
}
#expertise .expertise_left p {
    padding: 0px 10px;
    width: 100%;
}
#expertise .expertise_left img{
    margin-top: 20px;
}
.expertise_right {
    padding: 50px 15px;
}
#expertise .expertise_right .expertise_right_item h3 {
    font-size: 17px;
}
#expertise #expertise_image{
    display: none;
}
#custom_solution {
    padding: 50px 0px;
}
#custom_solution .custom_solution_title h3 {
    font-size: 29px;
    line-height: 45px;
}
#custom_solution .custom_solution_item {
    margin-bottom: 37px;
}
#custom_solution .custom_solution_item a {
    font-size: 19px;
}
#custom_solution .custom_solution_item a.right_sp_button {
    margin-top: 30px;
}
#blog {
    padding: 50px 0px;
    background: #F9F8FE;
}
#blog .blog_top_title p {
    font-size: 17px;
}
#blog .blog_main_slider .owl-dots .owl-dot:nth-child(13){
    display: none;
}
#blog .blog_main_slider .owl-dots .owl-dot:nth-child(12){
    display: none;
}
#blog .blog_main_slider .owl-dots .owl-dot:nth-child(11){
    display: none;
}
#blog .blog_main_slider .owl-dots .owl-dot:nth-child(10){
    display: none;
}
#blog .blog_main_slider .owl-dots .owl-dot:nth-child(9){
    display: none;
}
#cleint_area{
    padding: 50px 0px;
}
#cleint_area .cleint_area_top p {
    font-size: 14px;
    width: 100%;
}
.cleint_item{
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-bottom: 38px; 
}
.cleint_item:nth-child(4) img{
    margin-top: 60px;
}
#testmonial .testmonial_top_left h3 {
    font-size: 30px;
    padding-left: 10px;
    line-height: 32px;
    width: 100%;
}
#testmonial .testmonial_top_left span {
    height: 63px;
    width: 63px;
    line-height: 63px;
    top: -42px;
    left: -19px;
}
#testmonial .testmonial_slider_main .testmonial_slider_active .owl-nav .owl-prev {
    top: -45px;
    right: 61px;
}
#testmonial .testmonial_slider_main .testmonial_slider_active .owl-nav .owl-next {
    top: -45px;
    right: 20px;
}
#testmonial .testmonial_slider_main .testmonial_slider_active .owl-nav i.active {
    transform: scale(2);
}
#testmonial .testmonial_slider_main .testmonial_slider_active {
    left: 0px;
}
#testmonial .testmonial_slider_main .testmonial_slider_active .testmonial_slider_item {
    width: 94%;
    margin: 0 auto;
}
#testmonial .testmonial_slider_main .testmonial_slider_active .testmonial_slider_item {
    padding: 32px 17px;
}
#testmonial .testmonial_slider_main .testmonial_slider_active .testmonial_slider_item h3 {
    font-size: 17px;
}
#testmonial .testmonial_slider_main #slider_patern {
    left: -5px;
}
#quote_1 .quote_1_content h3 {
    font-size: 22px;
}
.footeer_top_info{
    margin-bottom: 30px;
}
.footer_top_link_last{
    margin-top: 20px;
}
#footeer_top .footer_top_link ul li a img {
    margin-right: 0px;
    display: block;
}
#footeer_top .footer_top_link_flag{
    margin-top: 20px;
}
#footeer_top .footer_top_link_flag ul li{
    display: inline-block;
    margin-right: 6px;
}
#footeer_top .footer_top_link_flag ul li a{
    font-size: 11px;
}
#footeer_top .footer_top_link_flag ul li a img{
    height: 14px;
}
#footer .footer_left ul li {
    margin-right: 9px;
}
#footer .footer_left ul li a {
    font-size: 10px;
}
.footer_right.text-right {
    text-align: center !important;
    margin-top: 12px;
}
#footer .footer_right ul li a i {
    margin-left: 0px;
    margin: 0px 13px;
}
#footeer_top {
    padding-bottom: 21px;
}
#blog .blog_main_slider .owl-stage-outer {
    overflow: hidden !important;
}
#testmonial .testmonial_slider_main .testmonial_slider_active .owl-stage-outer {
    overflow: hidden !important;
}
#expertise .expertise_left img {
    width: 100%;
}
#download_resource_popup .download_resource_popup_container {
    width: 100% !important;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: inherit;
}
#testmonial{
    overflow-x: hidden !important;
}
#mobile_tab{
     overflow-x: hidden !important;
}
#download_resource_popup .download_resource_popup_container .download_resource_popup_container_top h4 {
    font-size: 17px;
}
#download_resource_popup .download_resource_popup_container .download_resource_popup_container_top h4 img {
    margin-right: 10px;
    height: 27px;
}
#download_resource_popup .download_resource_popup_container .download_resource_popup_container_top #popup_close {
    top: 10px;
    right: 10px;
}
#download_resource_popup .download_resource_popup_container .download_resource_popup_container_form {
    padding: 28px 17px;
}
#download_resource_popup .download_resource_popup_container {
    height: 100%;
}
#mobile_heder.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999999;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.2);
}
#sub_banar {
    padding: 70px 0px;
}
#sub_banar .sub_banar_content h3 {
    color: #fff;
}
#sub_banar .sub_banar_content p {
    color: #fff;
}
#about_story {
    padding: 50px 0px;
}
#about_story .about_story_content h3 {
    font-size: 28px;
    color: #221F1F;
    margin-bottom: 15px;
    font-weight: 500;
}
#about_story .about_story_content p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
#about_value {
    padding: 0px 0px 50px 0px;
}
#about_value .about_value_main .about_value_main_container {
    flex-direction: column;
}
#about_value .about_value_title h3 {
    font-weight: 500;
    font-size: 31px;
    margin-bottom: 7px;
}
#about_connect {
    padding: 50px 0px;
}
#about_connect .about_connect_top h3 {
    font-size: 30px;
    font-weight: 600;
}
#about_connect .about_connect_top p {
    font-size: 14px;
}
#about_connect .about_connect_main .about_connect_item {
    padding: 30px 0px;
    width: 100%;
    margin-bottom: 30px;
}
#sub_banar_2 {
    padding: 70px 0px;
}
#sub_banar_2 .sub_banar_content h3 {
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 10px;
}
#blog_page_blog {
    padding: 50px 0px;
}
#blog_page_blog .blog_item {
    width: 100%;
}
#blog_details {
    padding: 50px 0px;
}
#blog_details .blog_details_content .blog_details_title h3 {
    font-size: 20px;
    margin-top: 9px;
}
#blog_details .blog_details_content .blog_details_item_container {
    margin-top: 22px;
}
#blog_details .blog_details_content .blog_details_item_container .blog_details_item h3 {
    font-size: 15px;
    line-height: 22px;
}
#blog_details .blog_details_content .blog_details_item_container .blog_details_share ul li {
    margin-right: 8px;
}
#footer {
    padding-bottom: 50px;
}
#carrer_page_main {
    padding: 50px 0px;
}
#carrer_page_main .carrer_page_main_top h4 {
    font-size: 21px;
    margin-bottom: 29px;
    line-height: 29px;
}
#carrer_page_main .carrer_page_main_tabl .carrer_page_main_table_top {
    padding: 29px 0px;
}
#carrer_page_main .carrer_page_main_tabl .carrer_page_main_table_top h3 {
    font-size: 27px;
    font-weight: 600;
}
#carrer_page_main .carrer_page_main_tabl .carrer_page_main_tabl_main .carrer_page_main_tabl_main_item {
    padding: 25px 14px;
    padding-right: 0px;
}
#carrer_page_main .carrer_page_main_tabl .carrer_page_main_tabl_main .carrer_page_main_tabl_main_item .carrer_page_main_tabl_main_item_content ul li {
    display: block;
    margin-right: 0px;
    margin-bottom: 4px;
}
#carrer_page_main .carrer_page_main_tabl .carrer_page_main_tabl_main .carrer_page_main_tabl_main_item .carrer_page_main_tabl_main_item_btn a {
    width: 100%;
    height: 42px;
    line-height: 41px;
    text-align: center;
}
.carrer_page_main_tabl_main_item_btn.text-right {
    text-align: center !important;
    margin-top: 21px;
}
#sub_banar_2.contact_banar {
    padding: 50px 0px 100px 0px;
}
#case_study_page {
    padding: 60px 0px;
}
#case_study_page .case_study_page_main .case_study_page_main_top .case_study_page_main_top_title h3 {
    margin-bottom: 12px;
}
#case_study_page .case_study_page_main .case_study_page_main_item .case_study_page_main_item_left h4 {
    font-size: 12px;
    line-height: 22px;
}
#case_study_page .case_study_page_main .case_study_page_main_item .case_study_page_main_item_left h4 span {
    margin-bottom: 80px;
}
.case_study_page_main_item_left {
    margin-bottom: 20px;
}
#case_study_page .case_study_page_main .case_study_page_main_item .case_study_page_main_item_right p {
    font-size: 12px;
    line-height: 23px;
}
#case_study_page .case_study_page_main .case_study_page_main_item .case_study_page_main_item_right p span {
    margin-bottom: 163px;
}
#case_study_service .case_study_service_item span {
    display: inline-block;
    float: inherit;
    transition: 0.4s;
}
#case_study_service .case_study_service_item {
    text-align: center;
}
#case_study_service {
    padding: 50px 0px;
}
#solution_impect {
    padding: 50px 0px;
}
#solution_impect .solution_impect_left h3 {
    margin-top: 30px;
    font-size: 23px;
}
#solution_impect .solution_impect_right .owl-dots {
    margin-top: 50px;
}
#contact_page_contcat {
    padding: 50px 0px;
}
#contact_page_contcat .contact_page_contcat_left h3 {
    font-size: 30px;
}
#contact_page_contcat .contact_page_contcat_left p {
    margin-top: 21px;
    line-height: 25px;
    font-size: 14px;
}
#contact_page_contcat .contact_page_contcat_left ul li a img {
    margin-bottom: 20px;
}
#contact_page_contcat .contact_page_form {
    padding: 20px;
}
#contact_newslater {
    padding: 100px 0px;
}
#contact_newslater .contact_newslater_main h4 {
    font-size: 22px;
}
#contact_newslater .contact_newslater_main h4 input {
    display: block;
    margin-top: 31px;
}
#contact_newslater .contact_newslater_main h4 button {
    right: 35px;
    top: 68%;
    position: absolute;
}
#information_counter {
    padding: 50px 0px;
}
#information_counter.information_counter_2 .information_counter_top h3 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
}
#information_counter .information_counter_main {
    margin-top: 50px;
}
.information_counter_main_item.text-center {
    margin-bottom: 45px;
}
#information_counter .information_counter_bottom {
    margin-top: 25px;
}
#information_counter .information_counter_bottom p {
    font-size: 19px;
}
#information_quote_2 {
    padding: 50px 0px;
}
#information_quote_2.information_quote_21 .information_quote_2_content h3 {
    width: 100%;
    font-size: 22px;
    line-height: 35px;
}
#information_quote_2 .information_quote_2_content p {
    margin-top: 14px;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
}
#information_module {
    padding: 50px 0px;
}
#information_module .information_module_top p {
    font-size: 16px;
    margin-top: 13px;
}
#information_module .information_module_main .information_module_item h4 {
    font-size: 13px;
    line-height: auto;
}
#information_module .information_module_main .information_module_item {
    margin-bottom: 30px;
    height: auto;
}
#information_module .information_module_main .information_module_item h4 img {
    height: 32px;
    min-width: 20px;
}
#information_module .information_module_main {
    margin-top: 50px;
}
#hosting_choice {
    padding: 50px 0px;
}
#hosting_choice .hosting_choice_top h3 {
    font-size: 27px;
}
#hosting_choice .hosting_choice_top p {
    margin-top: 18px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    line-height: 28px;
}
#hosting_choice .hosting_choice_main .hosting_choice_main_item {
    padding: 30px 0px;
    width: 100%;
}
#hosting_choice .hosting_choice_main .hosting_choice_main_item h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
#informtion_quote_3 {
    padding: 50px 0px;
}
#informtion_quote_3 .informtion_quote_3_content h3 {
    font-size: 22px;
    font-weight: 600;
}
#informtion_quote_3 .informtion_quote_3_content p {
    font-size: 18px;
    margin-top: 20px;
}
#information_trusted {
    padding: 50px 0px;
}
#information_trusted .information_trusted_top h3 {
    font-size: 23px;
    font-weight: 600;
}
#information_trusted .information_trusted_top p {
    font-size: 17px;
    margin-top: 20px;
}
#information_trusted .information_trusted_slider .information_trusted_slider_item .information_trusted_slider_item_main a img {
    width: 45%;
    margin: 0 auto;
}
#information_trusted .information_trusted_slider .information_trusted_slider_item .information_trusted_slider_item_main {
    margin-bottom: 40px;
}
#information_quote_4 {
    padding: 50px 0px;
}
#information_quote_4 .information_quote_4_left h4 span {
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#information_quote_4 .information_quote_4_left h4 {
    font-size: 45px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

#information_counter .information_counter_top h3 {
    font-size: 28px;
    line-height: 37px;
    width: 100%;
    margin: 0 auto;
}
#info_services {
    padding: 50px 0px;
}
#info_services .info_services_top h3 {
    font-size: 26px;
}
.info_services_main_item.text-center {
    margin-bottom: 45px;
}
#info_services .info_services_main .info_services_main_item_button {
    margin-top: 40px;
}
#information_key_feater {
    padding: 50px 0px;
}
#information_key_feater .information_key_feater_top h3 {
    font-size: 31px;
    font-weight: 600;
}
#information_key_feater .information_key_feater_top p {
    font-size: 18px;
    margin-top: 14px;
}
#information_key_feater .information_key_feater_main {
    margin-top: 50px;
}
#information_quote_2 .information_quote_2_content h3 {
    width: 100%;
    font-size: 21px;
    line-height: 32px;
}
#informtion_patinent_postral {
    padding: 50px 0px;
}
#informtion_patinent_postral .informtion_patinent_postral_top h3 {
    font-size: 33px;
    font-weight: 600;
}
#informtion_patinent_postral .informtion_patinent_postral_top p {
    font-size: 17px;
    margin-top: 8px;
    width: 100%;
}
#informtion_patinent_postral .informtion_patinent_postral_main {
    margin-top: 50px;
}
#informtion_patinent_postral .informtion_patinent_postral_top img {
    margin-top: 50px;
}
#mdev_language {
    padding: 50px 0px;
}
#mdev_language .mdev_language_top h3 {
    font-size: 22px;
    line-height: 30px;
    width: 100%;
}
#mdev_language .mdev_language_main .mdev_language_main_row {
    flex-direction: column;
    margin-bottom: 30px;
}
#mdev_language .mdev_language_main {
    margin-top: 50px;
}
.mdev_language_main_item.text-center.wow.fadeInUp {
    margin-bottom: 30px;
}
#fenomanal_design {
    padding: 50px 0px;
}
#fenomanal_design .fenomanal_design_top h3 {
    font-size: 26px;
}
#fenomanal_design .fenomanal_design_top p {
    width: 100%;
}
.fenomanal_design_main_item.text-center {
    margin-bottom: 30px;
}
#dev_ops {
    padding: 50px 0px;
}
#dev_ops .dev_ops_content h3 {
    font-size: 22px;
    line-height: 33px;
}
#dev_ops .dev_ops_content p {
    width: 100%;
}
#dev_ops .dev_ops_content img {
    margin-top: 40px;
    margin-bottom: 20px;
}
#info_services.info_services_2 .info_services_top p {
    font-size: 17px;
    margin-top: 15px;
}
#project_slution {
    padding: 50px 0px;
}
#project_slution .project_slution_top h3 {
    font-size: 19px;
    line-height: 27px;
}
.project_slution_main_item.text-center {
    margin-bottom: 30px;
}
#dev_bottom {
    padding: 50px 0px;
}
#dev_bottom .dev_bottom_top h3 {
    font-size: 27px;
}
#dev_bottom .dev_bottom_top p {
    font-size: 16px;
}
#dev_bottom .dev_bottom_main .dev_bottom_main_content {
    padding-left: 20px;
    padding-right: 20px;
}
#infor_quote_5 .infor_quote_5_content h3 {
    font-size: 18px;
}
#infor_quote_5 .infor_quote_5_content_btn a {
    margin-top: 20px;
}
#sub_banar_3 .sub_banar_content h3 {
    font-size: 20px;
}
#sub_banar_3 .sub_banar_content h3 img {
    height: 58px;
    margin-bottom: 10px;
}
#sub_banar_3 {
    padding: 100px 0px;
}
#service_details {
    padding: 50px 0px;
}
#service_details .service_details_top .service_details_top_content h3 {
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 30px;
}
.service_details_content2_item {
    margin-top: 20px;
}
#service_page_service {
    padding: 50px 0px;
}
#service_page_service .service_page_service_top h4 {
    font-size: 20px;
    margin-bottom: 30px;
}
#service_page_service .service_page_service_container .service_page_service_item {
    text-align: center;
    margin-bottom: 40px;
}
#service_page_service .service_page_service_container .service_page_service_item span {
    margin: 0 auto;
    margin-bottom: 28px;
}
#sub_banar_2.bg_fix_healthcare {
	background-position: 17% 20%;
}









}







































/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    

}



/* Extra small Device. */
@media (max-width: 575px) {

}



























