@import 'import/reset.scss';
@import 'import/_color.scss';
/*-- this is for typography --*/
@import 'import/typography.scss';
@import 'import/_comn.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Nunito+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
$nu : 'Nunito Sans', sans-serif;
$ro : 'Roboto', sans-serif;
p{
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 90% !important;
}
.psr{
    position: relative !important;
}


// start heaer top are 
#header_top{
    padding: 20px 0px;
    background: #fff;
    border-bottom: 1px solid #E4E4E4;
    position: relative;
    z-index: 1;
    .header_top_menu{
        ul{
            li{
                display: inline-block;
                margin-left: 45px;
                a{
                    font-size: 14px;
                    color: #221F1F;
                    position: relative;
                    padding-bottom: 8px;
                    display: block;
                    &:after{
                        position: absolute;
                        height: 3px;
                        width: 0%;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        content: "";
                        background: $mainColor;
                        transition: 0.4s;
                    }
                    &:hover{
                        &:after{
                            width: 99%;
                        }
                    }
                }
            }
            .active{
                a{
                    font-weight: 700;
                    &:after{
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        content: "";
                        background: $mainColor;
                    }
                }
            }
            .btn_sp_header{
                a{
                    background: $mainColor;
                    padding: 10px 19px;
                    font-weight: 500;
                    color: #fff;
                    &:hover{
                        color: #fff;
                        transform: translateY(-4px);
                        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
                    }
                }
            }
        }
    }
}

header#header_top.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999999999;
    box-shadow: 0px 0px 23px rgba(0,0,0,0.1);
}

// banar_area
#banar_area{
    height: 100vh;
    width: 100%;
    background-image: url(../img/banar/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    .banar_area_content{
        margin-top: -90px;
        h3{
            color: $titleColor;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 60px;
            font-weight: 300;
            line-height: 60px;
        }
        a{
            display: inline-block;
            margin-top: 50px;
            background: $mainColor;
            color: #fff;
            padding: 0px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 500;
            width: 230px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            &:hover{
                transform: translateY(-4px);
                box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            }
        }
    }
}


//banar_bottom
#banar_bottom{
    margin-top: -100px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    .banar_bottom_item{
        background-color: #fff;
        box-shadow: 0px 10px 35px rgba(0,0,0,0.2);
        padding: 30px 20px;
        min-height: 368px;
        position: relative;
        cursor: pointer;
        &:after{
            position: absolute;
            height: 10px;
            width: 0%;
            bottom: 0;
            left: 0;
            content: "";
            background: $mainColor;
            transition: 0.4s;
        }
        &:hover{
            &:after{
                width: 100%;
            }
        }
        h3{
            font-weight: 600;
            font-size: 20px;
            color: $titleColor;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            color: $bodyColor;
            line-height: 23px;
            font-weight: 300;
        }
    }
}

//expertise
#expertise{
    padding: 150px 0px 0px 0px;
    background: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    #expertise_image{
        position: absolute;
        bottom: -47px;
        left: 0;
        height: 65%;
        z-index: -1;
    }
    .expertise_left{
        transition: 0.5s;
        h3{
            font-size: 45px;
            color: #333333;
            font-weight: 300;
            font-family: 'Nunito Sans', sans-serif;
        }
        p{
            font-size: 14px;
            color: #666666;
            margin-top: 15px;
            width: 80%;
            line-height: 24px;
        }
    }
    .expertise_right{
        .expertise_right_item{
            margin-bottom: 40px;
            cursor: pointer;
            &:hover{
                span{
                    background-color: $mainColor;
                    svg path{
                        fill: #fff;
                    }
                }
            }
            span{
                display: block;
                height: 90px;
                width: 90px;
                background: #F7F7F7;
                border-radius: 50%;
                text-align: center;
                line-height: 90px;
                transition: 0.4s;
                svg{
                    transition: 0.4s;
                }
            }
            h3{
                margin-top: 23px;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
            }
            p{
                font-size: 14px;
                color: #666666;
                margin-top: 15px;
                line-height: 25px;
            }
        }
    }
}


//tab_area
#tab_area{
    padding: 70px 0px;
    background-image: linear-gradient(to right, #4d36bd, #553fcd, #5d49dd, #6452ee, #6c5cff);
    .tab_left_button{
        h3{
            color: #fff;
            font-size: 35px;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 300;
        }
        .nav-tabs{
            margin-top: 40px;
            border: none;
            .nav-item {
                flex: inherit !important;
                padding: 0px;
                text-align: left;
                display: block;
                width: 88%;
                border: none;
                border-bottom: 1px solid #7768CA;
                position: relative;
                padding: 23px 16px;
                padding-top: 0px;
                padding-bottom: 28px;
                border-radius: 0px;
                max-height: 81px;
                
                h4{
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                }
                span{
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 34px;
                    width: 34px;
                    background: transparent;
                    border-radius: 50%;
                    line-height: 34px;
                    text-align: center;
                    i{
                        color: #fff;
                    }
                }
                p{
                    color: $mainColor;
                    font-size: 12px;
                    opacity: 0;
                    padding-top: 10px;
                }
                h4{
                    color: #fff;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
            .active{
                background: #fff;
                span{
                    background: $mainColor;
                    color: #fff;
                }
                p{
                    opacity: 1;
                }
                h4{
                    color: $titleColor;
                    font-weight: 600;
                }
            }
        }
    }
    .tab_main_content{
        .tab_main_content_content{
            .tab_main_content_top{
                .tab_main_content_top_info{
                    h3{
                        color: #fff;
                        font-size: 25px;
                        font-weight: 300;
                        font-family: $nu;
                    }
                }
                .tab_main_content_top_download{
                    a{
                        width: 135px;
                        background: #fff;
                        text-align: center;
                        padding: 0px;
                        font-size: 14px;
                        color: $titleColor;
                        font-weight: 600;
                        height: 37px;
                        line-height: 37px;
                        display: inline-block;
                        &:hover{
                            transform: translateY(-4px);
                            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
                        }
                        img{
                            margin-right: 4px;
                        }
                    }
                }
            }
            .tab_main_content_image{
                img{
                    width: 100% !important;
                }
                margin-top: 38px;
                p{
                    margin-top: 30px;
                    color: #fff;
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }
}


#custom_solution{
    padding: 100px 0px;
    background-image: url(../img/img/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .custom_solution_title{
        margin-bottom: 70px;
        h3{
            color: #333333;
            font-family: $nu;
            font-size: 35px;
            font-weight: 300;
        }
    }
    .custom_solution_item{
        cursor: pointer;
        span{
            height: 80px;
            width: 80px;
            border: 2px solid #707070;
            display: block;
            float: left;
            text-align: center;
            line-height: 76px;
            border-radius: 50%;
            margin-right: 15px;
            margin-bottom: 20px;
            transition: 0.4s;
            svg{
                path{
                    transition: 0.4s;
                }
            }
        }
        &:hover{
            span{
                background-color: $mainColor;
                border-color: $mainColor;
                svg path{
                    fill: #fff;
                }
            }
        }
        a{
            font-size: 20px;
            font-weight: 500;
            color: $titleColor;
            font-family: 'Montserrat', sans-serif;
            &:hover{
                text-decoration: underline;
                color: $mainColor;
            }
        }
        p{
            font-size: 13px;
            color: #666;
            margin-top: 5px;
            line-height: 20px;
        }
        a.right_sp_button{
            display: inline-block;
            background: $mainColor;
            color: #fff;
            padding: 0px;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            width: 230px;
            height: 50px;
            line-height: 50px;
            font-family: 'Roboto', sans-serif;
            &:hover{
                transform: translateY(-4px);
                box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            }
        }
    }
}


//blog
#blog{
    padding: 100px 0px;
    background: #F9F8FE;
    .blog_top_title{
        h3{
            font-family: $nu;
            font-size: 35px;
            color: $titleColor;
        }
        p{
            font-size: 20px;
            color: $titleColor;
            font-weight: 300;
            font-style: italic;
            margin-top: 13px;
            opacity: 0.8;
        }
    }
    .blog_main_slider{
        margin-top: 70px;
        .owl-dots{
            margin-top: 50px;
            text-align: center;
            .owl-dot{
                height: 13px;
                width: 13px;
                background: #E4E4E4;
                display: inline-block;
                margin: 0px 7px;
                border-radius: 50%;
                transition: 0.4s;
            }
            .active{
                background: $mainColor;
            }
        }
        .owl-stage-outer{
            overflow: visible;
        }
        .owl-item {
            opacity: 0;
            transition: opacity 500ms;
         }
         .owl-item.active {
           opacity: 1;
         }
         
        .blog_item{
            background: #fff;
            transition: 0.4s;
            // overflow: visible;
            min-height: 450px;
            position: relative;
            &:after{
                position: absolute;
                height: 10px;
                width: 0%;
                bottom: 0;
                left: 0;
                content: "";
                background: $mainColor;
                transition: 0.4s;
            }
            &:hover{
                &:after{
                    width: 100%;
                }
            }
            &:hover{
                box-shadow: 0px 10px 35px rgba(0,0,0,0.2);
            }
            .blog_item_content{
                padding: 20px;
                h4{
                    font-size: 14px;
                    color: #999999;
                    font-family: 'Roboto', sans-serif;
                }
                a.title_lik{
                    margin-top: 15px;
                    font-size: 17px;
                    color: $titleColor;
                    font-weight: 600;
                    line-height: 23px;
                    font-family: 'Montserrat', sans-serif;
                    &:hover{
                        padding-left: 0px;
                        text-decoration: underline;
                    }
                }
                p{
                    font-size: 14px;
                    color: #666666;
                    margin-top: 15px;
                    line-height: 24px;
                }
                a{
                    display: inline-block;
                    margin-top: 15px;
                    color: #666666;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    &:hover{
                        color: $mainColor;
                        padding-left: 5px;
                    }
                    i{
                        margin-left: 5px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

#cleint_area{
    padding: 100px 0px 150px 0px;
    background: #fff;
    .cleint_area_top{
        h3{
            font-family: $nu;
            font-size: 35px;
            font-weight: 300;
            color: $titleColor;
        }
        p{
            font-family: $nu;
            font-size: 20px;
            font-weight: 300;
            color: $titleColor;
            font-style: italic;
            width: 70%;
            margin: 0 auto;
            margin-top: 14px;
            opacity: 0.8;
        }
    }
    .cleint_area_main{
        margin-top: 80px;
    }
}

#testmonial{
    padding: 100px 0px;
    background: #F9F8FE;
    .testmonial_top_left{
        position: relative;
        z-index: 1;
        span{
            position: absolute;
            height: 85px;
            width: 85px;
            background: $mainColor;
            text-align: center;
            line-height: 85px;
            border-radius: 50%;
            top: -51px;
            left: -58px;
            z-index: -1;
            img{
                height: 20px;
            }
        }
        h3{
            font-family: $nu;
            font-size: 35px;
            color: $titleColor;
            width: 31%;
            line-height: 40px;
            font-weight: 300;
        }
    }
    .testmonial_slider_main{
        margin-top: 70px;
        #slider_patern{
            position: absolute;
            bottom: -55px;
            left: 26px;
        }
        .testmonial_slider_active{
            position: relative;
            left: 80px;
            .owl-stage-outer{
                overflow: visible;
            }
            .owl-item {
                opacity: 0;
                transition: opacity 500ms;
            }
            .owl-item.active {
                opacity: 1;
            }
            .owl-nav{
                .owl-prev{
                    position: absolute;
                    top: -120px;
                    right: 211px;
                    transition: 0.4s;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 3px;
                    i{
                        transition: 0.4s;
                    }
                }
                .owl-next{
                    position: absolute;
                    top: -120px;
                    right: 164px;
                    transition: 0.4s;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 3px;
                    transition: 0.4s;
                    i{
                        transition: 0.4s;
                    }
                }
                i.active{
                    transform: scale(3);
                }
            }
            .testmonial_slider_item{
                background: #fff;
                padding: 40px 30px;
                box-shadow: 0px 10px 35px rgba(0,0,0,0.2);
                border-radius: 3px;
                h3{
                    font-size: 20px;
                    color: $titleColor;
                    font-weight: 600;
                }
                p{
                    font-size: 14px;
                    color: $titleColor;
                    margin-top: 15px;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
                span{
                    display: block;
                    float: left;
                    img{
                        width: auto !important;
                        margin-right: 9px;
                        height: 59px;
                    }
                }
                h4{
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    color: $mainColor;
                    font-weight: 700;
                    margin-top: 25px;
                }
                h6{
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    color: #666666;
                    margin-top: 5px;
                }
            }
        }
    }
}

//quote_1
#quote_1{
    padding: 80px 0px;
    background: url(../img/img/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    .quote_1_content{
        h3{
            font-size: 28px;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
        }
        a{
            display: inline-block;
            margin-top: 30px;
            background: $mainColor;
            color: #fff;
            padding: 14px 60px;
            font-weight: 500;
            font-size: 14px;
            &:hover{
                transform: translateY(-4px);
                box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            }
        }
    }
}

#footeer_top{
    padding: 70px 0px;
    background: #fff;
    .footeer_top_info{
        .logo{
            margin-bottom: 20px;
        }
        h3{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: #666666;
            font-weight: 700;
            margin-bottom: 3px;
        }
        p{
            font-size: 14px;
            color: #666666;
        }
        ul{
            margin-top: 20px;
            li{
                a{
                    font-size: 14px;
                    color: #666666;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                    img{
                        margin-right: 7px;
                    }
                }
            }
        }
    }
    .footer_top_link{
        ul{
            li{
                margin-bottom: 17px;
                a{
                    font-size: 14px;
                    color: #666666;
                    img{
                        margin-right: 7px;
                    }
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


//footer
#footer{
    border-top: 1px solid #cccccc88;
    padding: 20px 0px;
    .footer_left{
        ul{
            li{
                display: inline-block;
                margin-right: 20px;
                a{
                    font-size: 13px;
                    color: #999999;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .footer_right{
        ul{
            li{
                display: inline-block;
                a{
                    i{
                        height: 35px;
                        width: 35px;
                        transition: 0.4s;
                        text-align: center;
                        line-height: 35px;
                        border-radius: 3px;
                        margin-left: 25px;
                    }
                    .fb{
                        color: #3b5999;
                        &:hover{
                            background: #3b5999;
                            color: #fff;
                        }
                    }
                    .tw{
                        color: #55acee;
                        &:hover{
                            background: #55acee;
                            color: #fff;
                        }
                    }
                    .dr{
                        color: #ea4c89;
                        &:hover{
                            background: #ea4c89;
                            color: #fff;
                        }
                    }
                    .ln{
                        color: #0077B5;
                        &:hover{
                            background: #0077B5;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

//sub_banar
#sub_banar{
    padding: 190px 0px;
    background: url(../img/about/banar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .sub_banar_content{
        h3{
            font-family: $nu;
            font-size: 55px;
            color: $titleColor;
            font-weight: 300;
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
            color: #666666;
            margin-bottom: 3px;
        }
    }
}

//sub_banar
#sub_banar_2{
    padding: 190px 0px;
    background: url(../img/services/banar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .sub_banar_content{
        h3{
            font-family: $nu;
            font-size: 55px;
            color: #fff;
            font-weight: 300;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            color: #fff;
            margin-bottom: 3px;
        }
    }
}

//about_story
#about_story{
    padding: 120px 0px 0px 0px;
    background: #fff;
    .about_story_content{
        border-bottom: 1px solid #7070704b;
        padding-bottom: 80px;
        h3{
            font-weight: 300;
            font-family: $nu;
            font-size: 45px;
            color: $titleColor;
            margin-bottom: 25px;
        }
        p{
            font-size: 16px;
            color: #666666;
            line-height: 30px;
        }
    }
}

//about_value
#about_value{
    padding: 100px 0px;
    background: #fff;
    .about_value_title{
        h3{
            font-weight: 300;
            font-family: $nu;
            font-size: 45px;
            color: $titleColor;
            margin-bottom: 25px;
        }
    }
    .about_value_main{
        margin-top: 30px;
        .about_value_main_container{
            display: flex;
            justify-content: space-between;
            .value_about_item{
                padding: 20px;
                cursor: pointer;
                &:hover{
                    span{
                        background: $mainColor;
                        svg path{
                            fill: #fff;
                        }
                    }
                }
                h4{
                    font-family: $ro;
                    font-size: 60px;
                    color: #eeeeee;
                    font-weight: 300;
                    margin-bottom: 20px;
                }
                span{
                    height: 90px;
                    width: 90px;
                    background: #F7F7F7;
                    border-radius: 50%;
                    display: block;
                    text-align: center;
                    line-height: 90px;
                    margin: 0 auto;
                    transition: 0.4s;
                    svg{
                        path{
                            transition: 0.4s;
                        }
                    }
                }
                h3{
                    font-size: 20px;
                    color: $titleColor;
                    font-weight: 500;
                    margin-top: 30px;
                }
                p{
                    font-size: 14px;
                    color: #666666;
                    line-height: 23px;
                    width: 89%;
                    margin: 0 auto;
                    margin-top: 0px;
                    margin-top: 20px;
                }
            }
        }
    }
}


//about_connect
#about_connect{
    padding: 150px 0px;
    background-image: url(../img/about/banar_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .about_connect_top{
        h3{
            font-family: $nu;
            font-size: 45px;
            color: #fff;
            font-weight: 300;
        }
        p{
            font-size: 23px;
            color: #fff;
            font-weight: 300;
            font-style: italic;
            margin-top: 10px;
        }
    }
    .about_connect_main{
        margin-top: 70px;
        .about_connect_item{
            background: #fff;
            padding: 70px 0px;
            width: 90%;
            margin: 0 auto;
            img{
                margin-bottom: 30px;
            }
            h3{
                font-size: 20px;
                color: $titleColor;
                font-weight: 600;
            }
            p{
                font-size: 15px;
                margin-top: 10px;
                color: #221f1fb2;
            }
            a{
                margin-top: 15px;
                display: inline-block;
                i{
                    font-size: 32px;
                    color: #919DAC;
                    transition: 0.4s;
                }
                &:hover{
                    i{
                        color: #0077B5;
                    }
                }
            }
        }
    }
}

//service_page_service
#service_page_service{
    padding: 100px 0px;
    background: #fff;
    .service_page_service_top{
        h4{
            font-family: $nu;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 40px;
        }
        p{
            font-size: 14px;
            line-height: 25px;
            color: #666666;
            margin-bottom: 20px;
        }
    }
    .service_page_service_container{
        margin-top: 70px;
        .service_page_service_item{
            cursor: pointer;
            margin-bottom: 80px;
            &:hover{
                span{
                    background: $mainColor;
                    svg{
                        path{
                            fill: #fff;
                        }
                        rect{
                            fill: #fff;
                        }
                    }
                }
            }
            span{
                height: 90px;
                width: 90px;
                display: block;
                background: #F7F7F7;
                border-radius: 50%;
                text-align: center;
                line-height: 90px;
                margin-bottom: 43px;
                transition: 0.4s;
                svg{
                    path{
                        transition: 0.4s;
                    }
                    rect{
                        transition: 0.4s;
                    }
                }
            }
            h3{
                font-size: 20px;
                font-weight: 500;
                color: $titleColor;
            }
            p{
                font-size: 14px;
                line-height: 25px;
                color: #666666;
                margin-top: 15px;
            }
        }
    }
}

//carrer_page_main
#carrer_page_main{
    padding: 100px 0px;
    background: #fff;
    .carrer_page_main_top{
        h4{
            font-family: $nu;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 40px;
        }
        p{
            font-size: 14px;
            line-height: 25px;
            color: #666666;
            margin-bottom: 20px;
        }
    }
    .carrer_page_main_tabl{
        margin-top: 70px;
        .carrer_page_main_table_top{
            border-top: 1px solid #7070704d;
            border-bottom: 1px solid #7070704d;
            padding: 29px 30px;
            h3{
                font-family: $nu;
                font-size: 45px;
                font-weight: 300;
            }
        }
        .carrer_page_main_tabl_main{
            .carrer_page_main_tabl_main_item{
                border-bottom: 1px solid #7070704d;
                padding: 29px 30px;
                padding-right: 60px;
                .carrer_page_main_tabl_main_item_content{
                    h4{
                        font-size: 20px;
                        font-weight: 500;
                        color: $titleColor;
                        margin-bottom: 10px;
                    }
                    ul{
                        li{
                            display: inline-block;
                            font-family: $ro;
                            font-size: 14px;
                            color: #666666;
                            margin-right: 20px;
                            span{
                                color: $titleColor
                            }
                        }
                    }
                }
                .carrer_page_main_tabl_main_item_btn{
                    a{
                        width: 127px;
                        height: 39px;
                        line-height: 39px;
                        text-align: center;
                        border: 1px solid $mainColor;
                        color: $mainColor;
                        font-family: $ro;
                        font-size: 14px;
                        display: inline-block;
                        &:hover{
                            background: $mainColor;
                            color: #fff;
                            transform: translateY(-4px);
                            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
                        }
                    }
                    
                }
            }
            .carrer_page_main_tabl_main_item.active{
                background-color: #F9F8FE;
            }
        }
    }
}


//blog page blog
#blog.blog_page{
    background: #fff;
    padding: 120px 0px;
    .blog_main_slider{
        margin-top: 0px;
    }
}

#sub_banar_2.contact_banar{
    padding: 150px 0px 200px 0px;
}


//contact_page_contcat
#contact_page_contcat{
    padding: 140px 0px 80px 0px;
    background: linear-gradient(to right, #4d36bd, #553fcd, #5d49dd, #6452ee, #6c5cff);
    .contact_page_contcat_left{
        h3{
            font-family: $nu;
            font-size: 45px;
            color: #fff;
            font-weight: 300;
        }
        p{
            margin-top: 25px;
            color: #fff;
            line-height: 25px;
        }
        ul{
            margin-top: 100px;
            li{
                display: block;
                margin-bottom: 36px;
                a{
                    display: block;
                    font-family: $ro;
                    font-size: 14px;
                    color: #fff;
                    &:hover{
                        text-decoration: underline;
                    }
                    img{
                        margin-right: 10px;
                        display: block;
                        float: left;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .contact_page_form{
        background: #fff;
        padding: 50px 60px;
        .contact_page_form_top{
            h3{
                font-family: $ro;
                font-size: 20px;
                color: $titleColor;
                font-weight: 500;
            }
            p{
                font-size: 14px;
                color: $titleColor;
                margin-top: 8px;
            }
        }
        form{
            margin-top: 30px;
            .input_custom_item{
                margin-bottom: 25px;
                input{
                    padding: 25px 15px;
                    border: 1px solid #D4D4D4;
                    border-radius: 0px;
                    font-size: 14px;
                    font-family: $ro;
                    color: #999999;
                    &:focus{
                        outline: none;
                        box-shadow: none;
                        border-color: #D4D4D4;
                    }
                }
                #basic-addon1 {
                    width: 57px;
                    text-align: center;
                    padding: 0px;
                    justify-content: center;
                    background: transparent;
                    border-radius: 0px;
                }
            }
            .input_custom_item_textarea{
                margin-bottom: 25px;
                textarea{
                    padding: 15px 15px;
                    border: 1px solid #D4D4D4;
                    border-radius: 0px;
                    font-size: 14px;
                    font-family: $ro;
                    color: #999999;
                    resize: none;
                    height: 130px;
                    border-left: none;
                    &:focus{
                        outline: none;
                        box-shadow: none;
                        border-color: #D4D4D4;
                    }
                }
                .input-group-text {
                    background: transparent;
                    border-radius: 0px;
                    width: 57px;
                    justify-content: center;
                    align-items: baseline;
                    padding-top: 20px;
                }
            }
            .g-recaptcha{
                margin-top: 32px;
            }
            button{
                display: block;
                width: 100%;
                margin-top: 30px;
                background: #5641CF;
                color: #fff;
                font-family: $ro;
                font-weight: 500;
                border: none;
                padding: 15px 0px;
                font-size: 14px;
                transition: 0.4s;
                &:hover{
                    transform: translateY(-4px);
                    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
                }
            }
        }
    }
}

//contact_newslater
#contact_newslater{
    padding: 150px 0px;
    background: url(../img/newslatter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .contact_newslater_main{
        h4{
            font-family: $ro;
            font-size: 24px;
            color: #fff;
            font-weight: 400;
            input{
                margin-left: 10px;
                background: transparent;
                width: 250px;
                color: #ffffffaf;
                font-size: 14px;
                padding: 0px 0px 10px 0px;
                border: none;
                border-bottom: 1px solid #838484;
            }
            button{
                background: transparent;
                color: #fff;
                border: none;
                position: relative;
                right: 24px;
                transition: 0.4s;
                outline: none;
                &:hover{
                    svg{
                        path{
                            fill: $mainColor;
                        }
                    }
                }
            }
        }
    }
}


//blog_details
#blog_details{
    padding: 100px 0px;
    background-color: #fff;
    .blog_details_content{
        .blog_details_title{
            h4{
                font-family: $ro;
                font-size: 15px;
                color: #999999;
                font-weight: 400;
            }
            h3{
                font-family: $nu;
                font-size: 28px;
                color: $titleColor;
                font-weight: 500;
                margin-top: 15px;
            }
        }
        .blog_details_item_container{
            margin-top: 50px;
            .blog_details_item{
                margin-bottom: 35px;
                h3{
                    font-size: 18px;
                    color: $titleColor;
                    font-weight: 500;
                    margin-bottom: 13px;
                }
                p{
                    font-size: 14px;
                    color: #666666;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 20px;
                    a{
                        color: $mainColor;
                        font-weight: 500;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                ul{
                    padding-left: 13px;
                    li{
                        font-size: 14px;
                        color: #666666;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 20px;
                        font-family: $ro;
                        list-style: disc;
                    }
                }
            }
            .blog_details_image_item{
                margin-top: 35px;
                margin-bottom: 35px;
                img{
                    width: 100%;
                }
            }
            .blog_details_share{
                margin-top: 70px;
                ul{
                    li{
                        display: inline-block;
                        margin-right: 15px;
                        font-family: $ro;
                        font-size: 13px;
                        color: #999999;
                        a{
                            margin-left: 15px;
                            i{
                                font-size: 18px;
                                color: #919DAC;
                                position: relative;
                                top: 2px;
                                transition: 0.4s;
                                &:hover{
                                    color: $mainColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}











.fake{
    height: 700px;
    background: #ddd;
}